__pycache__/
staticfiles/
.venv/
.vscode/
.DS_Store
.idea/
.junie/
.playwright-mcp/
/docs/phases


*.py[cod]

# Database
*.sqlite3

# vscode workspace
*.code-workspace

# docker-compose env files
.env

# local env files
.env*.local
/.venv/

# Test coverage
.coverage
.coverage.*
htmlcov/
.pytest_cache/
