* {
    box-sizing: border-box;
    font-weight: 400;
}

p {
    margin-bottom: 1em;
}
html, body {
    height: 100%;
}

#wrapper {
    overflow: hidden;
    height: 100%;
}

.custom-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto;
  }

.main-chat-body {
    flex-grow: 1; /* Chat body takes available space */
    overflow-y: auto;
}

.disclaimer-text {
    font-size: small;
    opacity: 0.42;
    line-height: 1;
    padding-bottom: 5px;
}


#main-content {
    position: relative;
}

#sidebar-wrapper {   
    display: flex;
    height: 100%;
    flex-direction: column;
    background-color: #1b1e27;
    width: 280px;
    margin-left: 0;
    transition: margin 0.25s ease-out;
}

#sidebar-wrapper.toggled {
    margin-left: -280px;
}


/* SIDEBAR HIDE */
@media only screen and (max-width: 768px) {
    #sidebar-wrapper {
        position: absolute;
        height: 100vh; /* Ensure the sidebar has a defined height */
        margin-left: -280px; /* Keep sidebar off-screen for small screens */
        z-index: 2; /* Ensure it's above the main content */
    }

    #main-content {
        z-index: 1;
    }
    
    #sidebar-wrapper.toggled {
        margin-left: 0px;
    }
}

.sidebar-header {
    position: relative;
    display: flex;
    align-items: baseline;
    justify-content: left;
}

#list-group {
    flex-grow: 1; /* Chat body takes available space */
    overflow-y: auto;
}

#closeButton {
    position: absolute; /* Absolute positioning within the container */
    top: 0; /* At the top */
    right: 0; /* At the right */
    opacity: .2;
    height: .1em;
    width: .1em;
    /* padding-top: 10px; */
    padding:20px;
}
#closeButton:hover {
    opacity: .5;
}
#closeButton:active {
    opacity: .5;
}

.width-100 {
    width: 100%;
  }
  

.fixed-bottom-div {
    justify-content: center;
    bottom: 20px;
    padding: 20px;
  }


.navbar-toggler:focus,  #closeButton {
    box-shadow: none;
}


/* FORM */

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.spinner-border {
    display: none;
    width: 1rem;
    height: 1rem;
    border: 0.25em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    animation: spinner .75s linear infinite;
}


.submit-form {
    max-width: 35em;
    height: auto;
    border: 1px solid #808080;
    border-radius: 10px;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    box-shadow: 0 2px 4px rgba(14, 30, 37, 0.12), 0 2px 16px rgba(14, 30, 37, 0.32);
}


.submit-form textarea {
    max-height: 250px;
    height: auto;
    width: calc(100% - 40px);
    padding: 2px;
    border: none;
    background: transparent;
    outline: none;
    box-sizing: border-box; /* Ensure that padding and border are included in the width */
    resize: none; /* Prevent manual resizing */
    overflow: hidden;
}

/* Show the vertical scrollbar when the content exceeds the maximum height */
.submit-form textarea:valid {
  overflow-y: auto; /* Show the vertical scrollbar when the content exceeds the maximum height */
}

.submit-form button {
    position: relative;
    border: none;
    background: transparent;
    font-size: 28px;
    cursor: pointer;
}


.container-fluid {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
  }
  


/* SCROLL BUTTON */

#scrollToBottomBtn {
    display: none;
    position: absolute;
    align-items: baseline;
    right: 50%;
    bottom: 10px;
    /* Positioned in the middle horizontally */
    transform: translateX(50%);
    background-color: rgba(255, 255, 255, 0.15);
    /* Semi-transparent background */
    color: rgba(0, 0, 0, 0.5);
    /* Color of the icon */
    border: none;
    border-radius: 20%;
    font-size: 15px;
}

.fa-square-arrow-up-right {
    opacity: 0.15;
}

.fa-square-arrow-up-right:hover {
    opacity: 0.25;
}
.fa-square-arrow-up-right:active {
    opacity: 0.25;
}

/* Apply hover styles only for non-touch devices */
@media (hover: hover) {
    #scrollToBottomBtn:hover {
      background-color: rgba(255, 255, 255, 0.3);
      /* Slightly darker on hover */
      color: white;
    }
}
  
/* Disable hover styles for touch devices (e.g., mobile devices) */
@media (hover: none) {
    #scrollToBottomBtn:active {
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    }
}

/* SYNTAX */

code {
    color: #90a6cf;
}

.inline-code {
    background-color: #1b1e27;
    padding: 0.2em 0.4em;
    border-radius: 4px;
    font-family: monospace;
    font-size: 0.9em;
}


/* CHAT CONTAINER */

.chat-container {
    width: auto;
    max-width: 800px;
    margin: auto;
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
    border: 0.5px solid rgb(79, 79, 79)
}

.chat-container .user-chat-container {
    width: 100%;
    height: auto;
    padding: 10px 0px 10px 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
}

.chat-container .user-chat-container .user-pic {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-container .user-chat-container .user-message {
    height: auto;
    width: 90%;
    padding: 0px 5px 0px 0px;
    display: block;
    align-items: start;
    text-align: justify;
    justify-content: flex;
    white-space: pre-wrap;
}

.chat-container .bot-chat-container {
    width: auto;
    height: auto;
    padding: 10px 0px 10px 0px;
    background-color: #252a35;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
}

.chat-container .bot-chat-container .bot-icon {
    width: 25px;
    height: 25px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-container .bot-chat-container .bot-response {
    height: auto;
    width: 90%;
    padding: 0px 5px 0px 0px;
    display: block;
    align-items: start;
    justify-content: flex-start;
    text-align: justify;
}

.chat-container .bot-chat-container .bot-response pre code {
    display: block;
    background-color: #1b1e27;
    border: 1px solid #999da5;
    margin: 1px 0;
    border-radius: 4px;
}


.wrapped-text {
    display: inline-block; 
}

/* BUTTONS */


@media (max-width: 420px) {
  .button-84 {
    height: 48px;
  }
}

