* {
    box-sizing: border-box;
    font-weight: 400;
}

p {
    margin-bottom: 1em;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Full viewport height */
}

.main-chat-body{
    flex-grow: 1; /* Chat body takes available space */
    overflow-y: auto;
}


.chat-footer {
    margin-bottom: 10px;
}

#wrapper {
    overflow: hidden;
}

#main-content {
    position: relative;
}


#sidebar-wrapper {
    width: 280px;
    margin-left: 0;
    transition: margin 0.25s ease-out;
}

#sidebar-wrapper.toggled {
    margin-left: -280px;
}


.sidebar-header {
    display: flex;
    align-items: baseline;
    justify-content: left;
}

#list-group {
    height: 80vh !important;
    overflow: auto !important;
}


.form-floating {
    width: 200px;
}

/* FORM */

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.spinner-border {
    display: none;
    width: 1rem;
    height: 1rem;
    border: 0.25em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    animation: spinner .75s linear infinite;
}

/* SCROLL BUTTON */

#scrollToBottomBtn {
    position: absolute;
    align-items: baseline;
    right: 50%;
    /* Positioned in the middle horizontally */
    transform: translateX(50%);
    /* Adjust to center the button */
    bottom: 6em;
    /* Positioned at the bottom with a 10px offset */
    background-color: rgba(255, 255, 255, 0.15);
    /* Semi-transparent background */
    color: rgba(0, 0, 0, 0.5);
    /* Color of the icon */
    border: none;
    /* No border */
    border-radius: 20%;
    /* Circular button */
    padding: 5px;
    font-size: 15px;
}

/* Apply hover styles only for non-touch devices */
@media (hover: hover) {
    #scrollToBottomBtn:hover {
      background-color: rgba(255, 255, 255, 0.3);
      /* Slightly darker on hover */
      color: white;
    }
  }
  
  /* Disable hover styles for touch devices (e.g., mobile devices) */
  @media (hover: none) {
    #scrollToBottomBtn:hover {
      /* Override or remove hover effect styles for touch devices */
      background-color: initial; /* Reset to default background color */
      color: initial; /* Reset to default text color */
    }
  }


/* SYNTAX */

code {
    color: #90a6cf;
}

.inline-code {
    background-color: #1b1e27;
    /* border: 1px solid #ddd; */
    padding: 0.2em 0.4em;
    border-radius: 4px;
    font-family: monospace;
    font-size: 0.9em;
}


/* CHAT CONTAINER */

.chat-container {
    width: auto;
    max-width: 758px;
    margin: auto;
    height: auto;
    /* margin: 0 auto; */
    overflow-x: hidden;
    overflow-y: auto;
    border: 0.5px solid rgb(79, 79, 79)
}

.chat-container .user-chat-container {
    width: 100%;
    height: auto;
    padding: 10px 0px 10px 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
}

.chat-container .user-chat-container .user-pic {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-container .user-chat-container .user-message {
    height: auto;
    width: 85%;
    padding: 0px 5px 0px 0px;
    display: block;
    align-items: start;
    text-align: justify;
    justify-content: flex;
    white-space: pre-wrap;
}

.chat-container .bot-chat-container {
    width: auto;
    height: auto;
    padding: 10px 0px 10px 0px;
    background-color: #282C35;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
}

.chat-container .bot-chat-container .bot-icon {
    width: 25px;
    height: 25px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-container .bot-chat-container .bot-response {
    height: auto;
    width: 85%;
    padding: 0px 5px 0px 0px;
    display: block;
    align-items: start;
    justify-content: flex-start;
    text-align: justify;
}


.chat-container .bot-chat-container .bot-response pre code {
    display: block;
    background-color: #1b1e27;
    border: 1px solid #999da5;
    margin: 1px 0;
    border-radius: 4px;
}


/* SUBMIT */

.submit-form {
    max-width: 500px;
    height: auto;
    border: 1px solid #808080;
    border-radius: 10px;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    box-shadow: 0 2px 4px rgba(14, 30, 37, 0.12), 0 2px 16px rgba(14, 30, 37, 0.32);
}

.submit-form textarea {
    min-height: 38px;
    height: 50px;
    width: calc(100% - 40px);
    padding: 10px;
    border: none;
    background: transparent;
    outline: none;
    /* resize: vertical; */
    overflow-y: auto;
}

.submit-form button {
    position: relative;
    border: none;
    background: transparent;
    font-size: 28px;
    cursor: pointer;
}


/* SIDEBAR HIDE */
@media only screen and (max-width: 768px) {
    #sidebar-wrapper {
        margin-left: -280px; /* Keep sidebar off-screen for small screens */
    }

    #sidebar-wrapper.toggled {
        margin-left: 0; /* Still allow it to open when toggled */
    }

}


@media only screen and (max-width: 500px) {
    

    .submit-form {
        width: 90vw;
        margin-bottom: 50px;
        min-height: 40px;
        max-height: 50px;
    }

    #scrollToBottomBtn {
        bottom: 7.5em;
    }

}
