{% extends 'base.html' %}
{% load custom_filters %}
{% load static %}
{% block styles %}
  <!-- Highlight Code JS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/atom-one-dark.min.css" />
  <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
{% endblock %}

{% block content %}
<div class="d-flex" id="wrapper">

  <!-- Sidebar -->
  <div class="border-end" id="sidebar-wrapper">
    <div class="sidebar-header">
      <div class="dropdown p-3">
          <a href="#" class="d-flex align-items-center text-light text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2" loading="lazy" alt="User Icon">
            <p>Hello, {{ request.user.username|capfirst }}</p>
          </a>
          <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'logout' %}">Sign out</a></li>
          </ul>      
      </div>
      <button type="button" class="btn btn-dark" id="closeButton" aria-label="Close">
      <i class="fa-solid fa-angles-left"></i>
      </button>

    </div>

    <div class="list-group list-group-flush scrollarea" id="list-group">
    </div>
    <div class="fixed-bottom-div">
    <button type="button" class="btn btn-dark width-100" id="createChatButton"><i class="fas fa-plus"></i> New Chat</button>
    </div>
  </div>


  <!-- Page content wrapper -->
  <div class="custom-container" id="main-content">
    <nav class="navbar bg-body-tertiary pb-3" aria-label="Light offcanvas navbar">
      <div class="container-fluid">
        <button class="btn btn-dark" id="sidebarToggle">Toggle Chats</button>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbarDark" aria-controls="offcanvasNavbarDark" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbarDark" aria-labelledby="offcanvasNavbarDarkLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarDarkLabel">Settings</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" id="closeButton" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Choose GPT Model
                </a>
                <select class="form-select" id="floatingSelect" aria-label="Choose a GPT Model">
                {% for model_name, model_id in gpt_models.items %}
                  <option value="{{ model_id }}" {% if model_id == default_model %}selected{% endif %}>
                    {{ model_name }}
                  </option>                           
                    {% endfor %}
                </select>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
      <div class="main-chat-body">
        <div class="chat-container">
          {% for chat in chats %}
            {% if chat.user == request.user %}
              <div class="user-chat-container">
                <div class="user-pic">
                  <i class="fa-solid fa-circle-user"></i>
                </div>
                <div class="user-message">{{ chat.message }}</div>
              </div>
              <div class="bot-chat-container">
                <div class="bot-icon">
                  <i class="fa-solid fa-robot"></i>
                </div>
                <div class="bot-response">{{ chat.response|markdown_to_html|inline_code_formatting }}</div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      <button id="scrollToBottomBtn"><i class="fas fa-arrow-down"></i></button>
      <div class="chat-footer">
        <form action="" class="submit-form">
          {% csrf_token %}
          <textarea id="chat-input" rows="2" placeholder="Send a message" required></textarea>
          <input type="hidden" id="modelIdField" name="model_id" />
          <button id="submit-btn">
            <i class="fa-solid fa-square-arrow-up-right"></i>
            <div class="spinner-border text-primary" role="status" style="margin:auto">
              <span class="visually-hidden">...</span>
            </div>
          </button>
        </form>
      </div>
      <div class="disclaimer-text relative px-10 text-center text-muted">
      <p>ChatGPT can make mistakes. <span class="wrapped-text">Please check important information</span></p>
      </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
  <script>
    const currentPath = window.location.pathname;
    const chatRoomIdOrUuid = currentPath.split('/')[2];

    document.addEventListener('DOMContentLoaded', function() {
        fetch('/get_chat_rooms/')
            .then(response => response.json())
            .then(data => {
                if(data.chat_rooms) {
                    // Clear existing chat rooms
                    const listGroup = document.getElementById('list-group');
                    listGroup.innerHTML = '';

                    // Append each chat room to the list
                    data.chat_rooms.forEach(room => {
                        const anchor = document.createElement('a');
                        anchor.href = `/chatroom/${room.id}/`;  // Update with the correct URL pattern
                        anchor.className = 'list-group-item list-group-item-action list-group-item-light p-3';
                        const span = document.createElement('span');
                        anchor.appendChild(span);
                        span.textContent = room.name;
                        // If the room's ID/UUID matches the current URL, add the 'active-chatroom' class
                        if(room.id === chatRoomIdOrUuid) {
                            anchor.classList.add('active-chatroom');
                        }

                        listGroup.appendChild(anchor);
                    });
                } else {
                    console.error('Chat rooms data is missing');
                }
            })
            .catch(e => {
                console.error('Fetch error:', e);
            });
    });
  </script> 


  <script src="{% static 'js/sidebar.js' %}"></script>
  <script src="{% static 'js/form.js' %}"></script>
  <script src="{% static 'js/highlight.js' %}"></script>

  <script>
    var selectedModel = '{{default_model}}' // Default model ID
    document.getElementById('modelIdField').value = selectedModel // Set the initial value
    document.getElementById('floatingSelect').addEventListener('change', function () {
      selectedModel = this.value
      document.getElementById('modelIdField').value = selectedModel
    })
  </script>
  <script>
    function scrollToBottom() {
        const scrollContainer = document.querySelector(".main-chat-body");
        scrollContainer.scrollTop = scrollContainer.scrollHeight;
    }
    document.getElementById('scrollToBottomBtn').addEventListener('click', scrollToBottom);
  </script>

{% endblock %}
