{% extends 'base.html' %}
{% load custom_filters %}

{% block content %}
<div class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <div class="border-end" id="sidebar-wrapper">

        <div class="list-group list-group-flush">

            <div id="list-group">
                <div class="user">
                    <i class="fa-solid"></i>
                    <p>Hi, {{request.user.username}}</p>
                    <a href="{% url 'logout' %}">Logout</a>
                </div>
                <div class="model-selector">
                    <label for="modelSelect">Choose a Model:</label>
                    <select name="models" id="modelSelect">
                    {% for model_name, model_id in gpt_models.items %}
                        <option value="{{ model_id }}" {% if model_id == default_model %}selected{% endif %}>
                        {{ model_name }}
                        </option>
                    {% endfor %}                   
                    </select>
                </div>
            </div>
        </div>
    </div>
    <!-- Page content wrapper-->
    <div id="page-content-wrapper" data-bs-theme="dark">
        <!-- Top navigation-->
        <nav class="navbar navbar-expand-lg border-bottom">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" id="sidebarToggle"><span
                        class="navbar-toggler-icon"></span></button>
            </div>
        </nav>
        <div class="container-fluid container-fluid-2">
            <div class="chat-container">
                {% for chat in chats %}
                {% if chat.user == request.user %}
                <div class="user-chat-container">
                    <div class="user-pic"><i class="fa-solid fa-circle-user"></i></div>
                    <div class="user-message">{{chat.message}}</div>
                </div>
                <div class="bot-chat-container">
                    <div class="bot-icon"><i class="fa-solid fa-robot"></i></div>
                    <div class="bot-response">{{chat.response|markdown_to_html|inline_code_formatting}}</div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>

        <form action="" class="submit-form">
            {% csrf_token %}
            <textarea id="input_value" placeholder="Send a message" required></textarea>
            <input type="hidden" id="modelIdField" name="model_id">
            <button id="submit-btn">
                <i class="fa-solid fa-paper-plane"></i>
                <div class="spinner-border text-primary" role="status" style="margin:auto">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </button>
        </form>
    </div>
</div>

{% endblock %}