{% extends 'base_signin.html' %}
{% load static %}

{% block title %}
  Register
{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'css/sign-up.css' %}" />
{% endblock %}

{% block content %}
  <main class="form-signin w-100 m-auto">
    <form autocomplete="off" method="post">
      {% csrf_token %}
      <h1 class="h3 mb-3 fw-normal">Register form</h1>

      <div class="form-floating">
        <label for="username">User</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="Username"  required />
      </div>
      <div class="form-floating">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" required />
      </div>
      <div class="form-floating">
        <label for="password1">Password</label>
        <input type="password" class="form-control" id="password1" name="password1" required />
      </div>
      <div class="form-floating">
        <label for="password2">Confirm Password</label>
        <input type="password" class="form-control" id="password2" name="password2" required />
      </div>
      <button class="btn btn-primary w-100 py-2" type="submit">Register</button>
      <p>
        Already have an account? <span><a href="{% url 'login' %}">Login</a></span>
      </p>
    </form>
  </main>
{% endblock %}
